<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Fitness Website</title>
    <!-- Add your CSS styles or link to an external stylesheet here -->
    {% load static %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'fitness/styles.css' %}"
    />
  </head>

  <body>
    <header>
      <h1>Welcome to My Fitness Website!</h1>
      <!-- Add navigation links or any other header content here -->
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="card">
              <img
                src="{% static 'images/freetrail.jpg' %}"
                class="card-img-top"
                alt="Free Trial"
              />
              <div class="card-body">
                <h5 class="card-title">{{ free_trial_plan.title }}</h5>
                <p class="card-text">{{ free_trial_plan.description }}</p>
                <a
                  href="{% url 'subscribe' plan_id=free_trial_plan.id %}"
                  class="btn btn-primary"
                  >Start Free Trial</a
                >
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="card">
              <img
                src="{% static 'images/subscribe.jpg' %}"
                class="card-img-top"
                alt="Subscribe Now"
              />
              <div class="card-body">
                <h5 class="card-title">{{ premium_plan.title }}</h5>
                <p class="card-text">{{ premium_plan.description }}</p>
                <a
                  href="{% url 'subscribe' plan_id=premium_plan.id %}"
                  class="btn btn-primary"
                  >Subscribe Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <!-- Add footer content here -->
    </footer>

    <!-- Add your JavaScript scripts or link to external scripts here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
